<div class="row justify-content-center">
    <div class="col col-sm-9 py-3">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="text-center">
            <p class="mb-0">Looking to chat now</p>
            <h3>CALL 0845 074 0022</h3>
            <p class="mt-4">For information and enquiries, please fill in the form below
                and we will be delighted to be of assistance.</p>
            <form method="POST" action="#">
                <div class="form-group">
                    <input type="name" class="form-control" placeholder="NAME">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="EMAIL">
                </div>
                <div class="form-group">
                    <input type="phone" class="form-control" placeholder="PHONE">
                </div>
                <div class="form-group">
                    <textarea name="message" class="form-control" placeholder="MESSAGE"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>
