<img class="logo logo-nav" src="/assets/images/ki-logo-white-small.svg" alt="Kitchens International Logo">
<img class="logo logo-menu" src="/assets/images/ki-logo-grey-small.svg" alt="Kitchens International Logo">
{{#contact-form-button class="mr-3" form-id="contact-form"}}Get in touch{{/contact-form-button}}
<button {{action "toggleMainMenu"}} class="btn btn-outline-secondary">{{fa-icon "navicon" fixedWidth=true}}</button>
<nav>
    <ul class="page-links">
        <li>{{#link-to}}Home{{/link-to}}</li>
        <li>{{#link-to}}Kitchens{{/link-to}}</li>
        <li>{{#link-to}}Design{{/link-to}} Service</li>
        <li>{{#link-to}}Projects{{/link-to}}</li>
        <li>{{#link-to}}Endorsements{{/link-to}}</li>
        <li>{{#link-to}}Stories{{/link-to}}</li>
        <li>{{#link-to}}Commercial{{/link-to}}</li>
        <li>{{#link-to}}Contact{{/link-to}}</li>
        <li>
            <a class="social-icon social-icon-grey social-icon-facebook" href="https://facebook.com/kitchensinternational/" target="_blank"></a>
            <a class="social-icon social-icon-grey social-icon-twitter" href="https://twitter.com/kitchensint" target="_blank"></a>
            <a class="social-icon social-icon-grey social-icon-youtube" href="https://youtube.com/channel/UC023IsBhqHfnU7W61SL--Ng" target="_blank"></a>
        </li>
        <li><hr></li>
    </ul>
</nav>
{{yield}}
