<div class="carousel-slide" style="background-image: url(/assets/images/home-intro/slide-02.jpg)"></div>
<div class="carousel-slide" style="background-image: url(/assets/images/home-intro/slide-01.jpg)"></div>
