@import 'bootstrap';

// layout

$nav-bg: rgba(0, 0, 0, .7);

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: $spacer / 2 $spacer;
    text-align: right;
    z-index: 100;
    background: $nav-bg;

    nav {
        position: fixed;
        background: $taupe;
        top: 0;
        right: 0;
        width: 0; // displays when .nav-visible class added
        max-width: 100%;
        height: 0;  // displays when .nav-visible class added
        z-index: 200;
        text-align: left;
        text-transform: uppercase;
        font-size: $font-size-lg;
        padding-top: 80px;
        transition: all .6s;
        transition-timing-function: ease-out;

        ul {
            margin: 0 40px;
            list-style: none;
            padding-left: 50%;

            &.menu-break {
                margin-top: 0;
            }

            li {
                font-size: 116%;
                margin-bottom: 15px;
                opacity: 0;
                transform: translate(-40px);
                transition: all .8s;

                &.item-visible {
                    opacity: 1;
                    transform: translate(0);
                }
            }
        }

        &.nav-visible {
            width: 100%;
            height: 100%;
        }
    }

    @media (max-width: #{map-get($grid-breakpoints, sm)}) {
        nav {
            width: 0; // animates to 100%
            max-width: 100%;

            ul {
                padding-left: 0%;

                li {
                    font-size: 120%;
                }
            }
        }
    }

    .btn {
        margin-top: 8px;
        position: relative;
        z-index: 300;
    }

    .logo {
        width: 40px;
        float: left;
        position: relative;

        &.logo-menu {
            z-index: 300;
            display: none;
        }
    }
}

footer {
    background-color: $gray-dark;

    .footer-logo {
        height: 60px;
    }

    .fa {
        margin: 0 $spacer / 4;
    }
}

.background-taupe {
    background-color: $taupe;
}

.background-white {
    background-color: $white;
}

.card-no-border {
    border-width: 0;
}

$i: 1;
@while $i < 7 {
    h#{$i}, .h#{$i} { text-transform: uppercase; }
    $i: $i + 1;
}

.text-lg {
    font-size: $font-size-lg;
}

.fa {
    vertical-align: middle;
    line-height: 1.1rem;
}

.fa-spin {
    animation: fa-spin 1s infinite linear;
}

.btn {
    text-transform: uppercase;

    &:hover {
        cursor: pointer;
    }
}

$trans-white: rgba(255, 255, 255, .6);

.btn-outline-secondary {

    border-color: $trans-white;

    &:hover {
        color: $gray;
    }
}

hr {

    display: inline-block;
    width: $spacer * 1.5;
    margin-top: $spacer / 2;
    margin-bottom: $spacer / 2;

    &.hr-white {
        border-color: $white;
    }

    &.hr-dark {
        border-color: $gray-dark;
    }

    &.hr-lg {
        width: $spacer * 4;
    }
}

card {

    hr {
        border-color: darken($taupe, 20%);
    }
}

.hr-title {
    height: 1.2rem;
    overflow: visible;
    border-width: 0;
    border-style: solid;
    border-color: $hr-border-color;
    border-bottom-width: ceil($hr-border-width / 2);
    background-color: $white;
    text-align: center;

    .hr-title-content {
        display: inline-block;
        background-color: inherit;
        padding-left: $spacer;
        padding-right: $spacer;
    }
}

.image-overlay {
    background-position: top center;
    background-size: cover;
}

.text-white {
    a {
        color: $white;

        &:hover {
            opacity: .8;
        }
    }
}

.slide-in-wrapper {
    overflow: hidden;

    $translate-offset: 40px;

    .below-the-fold {
        transition: all 1s;

        &.slide-in-left {
            transform: translate(-$translate-offset);
        }

        &.slide-in-right {
            transform: translate($translate-offset);
        }
    }

    .above-the-fold {
        transition: all 1s;
    }

}

.form-control {
    font-family: $font-family-base;
    font-weight: 200;
}

.social-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("/assets/images/ki-social-sprite.png") no-repeat 0 0;
    background-size: 120px 30px;

    &:hover {
        opacity: .8;
    }

    &.social-icon-grey {
        background-image: url("/assets/images/ki-social-sprite-grey.png");
    }

    &.social-icon-facebook {
        background-position: 0 0;
    }

    &.social-icon-twitter {
        background-position: -30px 0;
    }

    &.social-icon-youtube {
        background-position: -60px 0;
    }
}

.houzz-logo {
    width: 120px;
}

// components

.contact-form {

    .form-control {
        text-align: center;
    }

    textarea {
        min-height: 120px;
    }

    @media (max-width: #{map-get($grid-breakpoints, sm)}) {

        .modal-body {
            padding: 0;
        }
    }
}

.store-locations {

    .store-title {
        min-height: 52px;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .map-container {
        position: relative;
    }

    .map {
        min-height: 300px;
    }

    $store-location-bg: rgba(0, 0, 0, .4);

    .store-location {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $store-location-bg;

        .opening-hours {
            position: absolute;
            bottom: 40px;
            left: 40px;
        }

        .address {
            position: absolute;
            bottom: 80px;
            right: 40px;
            text-align: right;

            a {
                color: $white;

                &:visited, &:active, &:focus, &:hover {
                    color: $white;
                }
            }
        }
    }
}

@media (max-width: #{map-get($grid-breakpoints, sm)}) {

    .store-locations {

        h4 {
            min-height: 0;
        }

        .map-container {
            display: none;
        }
    }
}

// pages

.home {

    .carousel-home {

        .img-fluid {
            min-width: 100%;

            @media (max-width: #{map-get($grid-breakpoints, sm)}) {
                max-height: 150px;
            }
        }
    }

    .introduction {
        background: url("/assets/images/ki-home-0000.jpg") no-repeat center center fixed;
        background-size: cover;
        width: 100%;
        height: 700px;
        height: 100vh;
        text-align: center;

        h1 {
            padding-top: 45vh;
        }
    }
}
