@import 'bootstrap';
@import 'lightbox';

// layout

.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}

$nav-bg: rgba(0, 0, 0, .7);

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: $spacer / 2 0;
    text-align: right;
    z-index: 100;
    background: $nav-bg;

    nav {
        position: fixed;
        background: $taupe;
        top: 0;
        right: 0;
        width: 0; // displays when .nav-visible class added
        max-width: 100%;
        height: 0;  // displays when .nav-visible class added
        z-index: 200;
        text-align: left;
        text-transform: uppercase;
        font-size: $font-size-lg;
        padding-top: 80px;
        transition: all .6s;
        transition-timing-function: ease-out;

        ul {
            margin: 0 40px;
            list-style: none;
            padding-left: 50%;

            &.menu-break {
                margin-top: 0;
            }

            li {
                font-size: 116%;
                margin-bottom: 15px;
                opacity: 0;
                transform: translate(-40px);
                transition: all .8s;

                &.item-visible {
                    opacity: 1;
                    transform: translate(0);
                }
            }
        }

        &.nav-visible {
            width: 100%;
            height: 100%;
        }
    }

    @media (max-width: #{map-get($grid-breakpoints, sm)}) {
        nav {
            width: 0; // animates to 100%
            max-width: 100%;

            ul {
                padding-left: 0%;

                li {
                    font-size: 120%;
                }
            }
        }
    }

    .btn {
        margin-top: 8px;
        position: relative;
        z-index: 300;
    }

    .logo {
        width: 40px;
        float: left;
        position: relative;

        &.logo-menu {
            z-index: 300;
            display: none;
        }
    }
}

footer {
    background-color: $gray-dark;

    .footer-logo {
        height: 60px;
    }

    .fa {
        margin: 0 $spacer / 4;
    }
}

.background-gray {
    background-color: $gray-dark;
}

.background-taupe {
    background-color: $taupe;
}

.background-white {
    background-color: $white;
}

.card-no-border {
    border-width: 0;
}

.text-lg {
    font-size: $font-size-lg;
}

@media (max-width: #{map-get($grid-breakpoints, sm)}) {
    .text-center-sm {
        text-align: center !important;
    }

    .text-right-sm {
        text-align: right !important;
    }

    .text-left-sm {
        text-align: left !important;
    }
}

@media (min-width: #{map-get($grid-breakpoints, sm)}) and (max-width: #{map-get($grid-breakpoints, md)}) {
    .text-center-md {
        text-align: center !important;
    }

    .text-right-md {
        text-align: right !important;
    }

    .text-left-md {
        text-align: left !important;
    }
}

.fa {
    vertical-align: middle;
    line-height: 1.1rem;
}

.fa-spin {
    animation: fa-spin 1s infinite linear;
}

.btn {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: $font-size-sm;

    &:hover {
        cursor: pointer;
    }
}

.clickable {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
        cursor: pointer;
    }
}

$trans-white: rgba(255, 255, 255, .6);

.btn-outline-secondary {

    border-color: $trans-white;

    &.active {
        background-color: transparent;
        border-color: $trans-white;
    }

    &:hover {
        color: $gray;
    }
}

.btn-like-heading {
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: $font-size-sm;
    display: inline-block;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid $trans-white;
    padding: $btn-padding-y $btn-padding-x;
    border-radius: 0;
    transition: all .2s ease-in-out;
}

hr {

    display: inline-block;
    width: $spacer * 1.5;
    margin-top: $spacer / 2;
    margin-bottom: $spacer / 2;

    &.hr-white {
        border-color: $white;
    }

    &.hr-dark {
        border-color: $gray-dark;
    }

    &.hr-lg {
        width: $spacer * 4;
    }
}

card {

    hr {
        border-color: darken($taupe, 20%);
    }
}

.hr-title {
    height: 1.2rem;
    overflow: visible;
    border-width: 0;
    border-style: solid;
    border-color: $hr-border-color;
    border-bottom-width: ceil($hr-border-width / 2);
    background-color: $white;
    text-align: center;

    .hr-title-content {
        display: inline-block;
        background-color: inherit;
        padding-left: $spacer;
        padding-right: $spacer;
    }
}

@media (max-width: #{map-get($grid-breakpoints, sm)}) {
    html {
        font-size: 14px;
    }
}

$i: 1;
@while $i < 7 {
    h#{$i}, .h#{$i} {
        text-transform: uppercase;
        line-height: 1.4;
    }
    $i: $i + 1;
}

h1, .h1 {
    letter-spacing: 2px;
}

h2, .h2, h3, .h3 {
    letter-spacing: 1px;
}

$n: 1;
@while $n < 5 {
    .display-#{$n} {
        font-family: $headings-font-family;
        display: block;
        text-transform: uppercase;
    }
    $n: $n + 1;
}

.display-1 {
    letter-spacing: 4px;
}

.display-2 {
    letter-spacing: 3px;
}

.display-3, .display-4 {
    letter-spacing: 2px;
}

.img-background {
    background-position: center;
    background-size: cover;
    height: 350px;

    &.img-background-square {
        width: 100%;
        padding-top: 100%;
        min-height: 0;
    }

    &.img-tinted {
        background-color: $gray-lighter;
        background-blend-mode: multiply;
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayscale=1)";
    }

    &.full-height {
        min-height: 350px;
        height: 100%;
    }

    &.auto-height {
        height: auto;
    }

    &.clickable {
        &:hover {
            opacity: .9;
        }
    }
}

.page-item {
    &.active {
        .page-link {
            color: $white !important;
        }
    }
}

.text-white {
    a {
        color: $white;

        &:hover {
            opacity: .8;
        }
    }
}

.slide-in-wrapper {
    overflow: hidden;
    display: flex;
    min-width: 100%;
    min-height: 100%;

    & > div {
        min-width: 100%;
        min-height: 100%;
    }

    $translate-offset: 40px;

    .below-the-fold {
        transition: all 1s;

        &.slide-in-left {
            transform: translate(-$translate-offset);
        }

        &.slide-in-right {
            transform: translate($translate-offset);
        }
    }

    .above-the-fold {
        transition: all 1s;
    }

}

.form-control {
    font-family: $font-family-base;
    font-weight: 200;
}

$social-icons: 'facebook', 'twitter', 'youtube', 'instagram', 'houzz';
$social-icon-size: 30px;
$social-icon-size-lg: 40px;

@mixin social-icons($icons, $icon-size) {
    @each $icon in $icons {
        $i: index($icons, $icon) - 1;

        &.social-icon-#{$icon} {
            background-position: 0 - ($icon-size * $i) 0;
        }
    }
}

.social-icon {
    display: inline-block;
    width: $social-icon-size;
    height: $social-icon-size;
    background: url("/assets/images/ki-social-sprite.png") no-repeat 0 0;
    background-size: $social-icon-size * 5 $social-icon-size;

    &:hover {
        opacity: .8;
    }

    &.social-icon-grey {
        background-image: url("/assets/images/ki-social-sprite-grey.png");
    }

    @include social-icons($social-icons, $social-icon-size);

    &.social-icon-lg {
        width: $social-icon-size-lg;
        height: $social-icon-size-lg;
        background-size: $social-icon-size-lg * 5 $social-icon-size-lg;

        @include social-icons($social-icons, $social-icon-size-lg);
    }

}

.houzz-logo {
    width: 120px;
}

.card-img-top {
    min-width: 100%;
}

.hidden {
    opacity: 0;
    transition: opacity 1s;
}

.visible {
    opacity: 1;
    transition: opacity 1s;
}

// components

.contact-form-inner {

    .close {
        display: none;
    }
}

.contact-form {

    .form-control {
        text-align: center;
    }

    textarea {
        min-height: 120px;
    }

    @media (max-width: #{map-get($grid-breakpoints, sm)}) {

        .modal-body {
            padding: 0;
        }
    }

    .contact-form-inner {

        .close {
            display: inline-block;
        }
    }
}

.store-locations {

    .store-title {
        min-height: 52px;

        &:hover {
            cursor: pointer;
            opacity: .8;
        }
    }

    @media (max-width: #{map-get($grid-breakpoints, sm)}) {

        .store-title {
            min-height: 20px;
        }
    }

    .store-hard-rule {
        border-bottom: 2px solid $hr-border-color;
        text-align: center;
        height: 18px;
        margin-bottom: 30px;

        h5 {
            background: $white;
            display: inline-block;
            line-height: 1rem;
            padding: 10px;
            margin: 0;
        }
    }

    .map-container {
        position: relative;
    }

    .map {
        min-height: 300px;
    }

    .opening-hours {
        position: absolute;
        top: 40px;
        right: 100px;

        table {

            td {
                padding: 0 10px;
            }
        }
    }

    .address {
        position: absolute;
        top: 40px;
        left: 80px;
    }
}

@media (max-width: #{map-get($grid-breakpoints, sm)}) {

    .store-locations {

        h4 {
            min-height: 0;
        }

        .map-container {

            .address {
                left: 20%;
                width: 80%;
            }
        }
    }
}

.img-fluid {
    min-width: 100%;

    &.full-height {
        max-width: none;
        height: 100%;
    }
}

.after-scroll-heading {
    width: 100%;
    margin-left: -$grid-gutter-width-base / 2;
    margin-top: $spacer;
    position: absolute;
    display: block;
    text-align: center;
}

// pages

$intro-bottom-hugger: rgba($black, .4);

.introduction {
    background-image: url("/assets/images/ki-home-0000.jpg"); // default - overriden in templates
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    min-height: 400px;
    height: 70vh;
    position: relative;
}

.heading {
    background-color: $intro-bottom-hugger;
    width: 100%;
    height: 100%;
    text-align: center;
    color: $white;
    padding-top: 28%;
    padding-top: 28vh;

    h1 {
        font-size: 3rem;
    }

    hr {
        border-color: $white;
    }
}

.sub-heading {
    text-align: center;

    p {
        margin-bottom: 0;
    }
}

.home {

    .introduction {
        height: 700px;
        height: 100vh;
        position: relative;

        .call-to-action-area {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            padding-top: 25%;
            padding-top: 25vh;

            .fade-in-images {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30%;
                height: 30vh;

                h1 {
                    width: 100%;
                    font-size: 4rem;
                }

                img {
                    width: 80%;
                    max-width: 520px;
                }

                h1, img {
                    display: none;
                }
            }
        }
    }

    @media (max-width: #{map-get($grid-breakpoints, sm)}) {
        .carousel-home {

            .img-fluid {
                max-height: 150px;
            }
        }
    }

    .carousel-item {
        .active {
            display: block;
        }
    }

    .carousel-item-next,
    .carousel-item-prev {
        display: block;
    }

    .card-img-top {
        width: 100%;
    }
}

.design-service {

    .background-image {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 100%;

        hr {
            margin-bottom: 75%;
        }
    }
}

.stories, .events {

    .introduction {
        background-image: url("/assets/images/ki-news-0000.jpg");
        height: 300px;
    }

    .heading {
        padding-top: 18%;
        padding-top: 18vh;
    }

    .blog-control {
        padding-top: $spacer * 2;
        padding-bottom: $spacer;

        ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;

            li {
                display: inline-block;
                text-transform: uppercase;
                margin-right: $spacer * 2;

                &:hover {
                    cursor: pointer;
                    opacity: .8;
                }
            }
        }
    }

    .img-container {
        max-height: 345px;
        overflow: hidden;
    }

    .article-snippet {

        img {
            max-width: 100%;
            height: auto;
            margin: $spacer auto;
        }

        iframe {
            max-width: 100%;
            display: block;
            margin: $spacer auto;
        }
    }

}

.story, .event {

    .introduction {
        height: 300px;
    }

    .heading {
        padding-top: 18%;
        padding-top: 18vh;
    }

    article {

        img {
            max-width: 100%;
            height: auto;
            margin: $spacer auto;
        }
    }
}

.store {

    .introduction {
        background-image: url("/assets/images/ki-about-0000.jpg");
        height: 300px;
    }

    .heading {
        padding-top: 18%;
        padding-top: 18vh;
    }
}

.contact {

    .introduction {
        height: 300px;
    }

    .heading {
        padding-top: 18%;
        padding-top: 18vh;
    }
}

.endorsements {

    @media (max-width: #{map-get($grid-breakpoints, sm)}) {
        .col {
            flex-basis: initial;
        }
    }

    p {
        img {
            max-width: 100%;
            max-height: 300px;
        }
    }

    .our-clients {
        .col {
            &:nth-child(2) {
                background-color: $taupe;
            }

            .flex-column {
                height: 100%;

                p {
                    &:last-child {
                        margin-top: auto;
                    }
                }
            }
        }
    }
}
