{{header-nav}}
<div class="{{routing.currentRouteName}}">
    {{outlet}}
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-white text-center mb-0 py-5">
                    <small>24 Westfield Road | Murrayfield | Edinburgh<br>
                        EH11 2QB<br>
                        T: 0131 337 3434</small>
                </p>
            </div>
        </div>
    </div>
</footer>
