<div class="introduction text-white text-center design-portal-hero">
    <h1 class="design-portal-hero__header">
        <span class="design-portal-hero__header-small">WELCOME TO THE KITCHENS INTERNATIONAL</span>
        <p>ONLINE KITCHEN DESIGN PORTAL</p>
    </h1>
    <a href="#" class="btn btn-outline-secondary my-4">DISCOVER THE ART OF KITCHEN</a><br>
</div>
<div class="container">
    <div class="row my-5 p-4 background-taupe design-portal-box">
        <div class="col sub-heading">
            <h1>WELCOME TO THE KI ONLINE KITCHEN DESIGN PORTAL</h1>
            <hr>
            <p>At Kitchens International we believe that Innovation has been key to the success of our company over the past 25 years. Our commitment to provide innovative kitchen solutions for our clients, has not only given us a real sense of satisfaction, but also a family of delighted KI clients... read some of our delighted clients comments <a class="design-portal-box__link" href="#">here</a>.</p>
            <br>          
            <p>The central driver to every key decision has been based on one simple question... “How will this improve the experience for our clients?”. With this in mind our design team have been busy creating our new KI Online Design Portal, with the sole aim to help our clients navigate the process of professional kitchen design, during these unprecedented & challenging times.</p>
            <br>
            <p>Our new online service will take you on a virtual journey through each stage of our Award winning creative design process.</p>
            <br>
            <p>Whatever the nature of your specific project – refurbishment , extension, or new-build, our professional design team are on hand, and waiting to guide you through each stage of the journey.</p>
            <br>
            <a href="#" class="btn btn-outline-primary">REQUEST ONLINE DESIGN SERVICE</a>
        </div>
    </div>
</div>
