<div class="introduction text-white text-center design-portal-hero">
    <h1 class="design-portal-hero__header">
        <span class="design-portal-hero__header-small">WELCOME TO THE KITCHENS INTERNATIONAL</span>
        <p>ONLINE KITCHEN DESIGN PORTAL</p>
    </h1>
    <a href="#" class="btn btn-outline-secondary my-4">DISCOVER THE ART OF KITCHEN</a><br>
</div>
<div class="container">
    <div class="background-taupe">
            <div class="row">
                <div class="col py-3 sub-heading">
                    Design | Visualising inspiring and life changing concepts
                </div>
            </div>
    </div>
</div>
